{% for article in collections.articles %}
<div class="post-item">
    <a class="post-item-link" href="{{ article.url }}">
        <h2>{{ article.data.title }}</h2>
    </a>
    <p class="post-item-date">{{ article.date | readableDate }}</p>
    <blockquote class="post-summary">{{ article.data.description }}</blockquote>
</div>
{% endfor %}