  /* Footer at the end of document */
  #footer {
    background-color: var(--button-background);
    max-width: 900px;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }
  #footer a {
    color: var(--highlight);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
  }
  #footer a:hover {
    transition: 0.3s;
    background-color: var(--button-background-hover);
    padding: 10px;
  }