  /* Headers (biggest to smallest size) */
  h1 {
    animation: title-color-fade 0.3s linear;  
    animation-fill-mode: forwards;
    border-bottom: 5px solid var(--highlight);
    padding: 5px;
    margin: 0.5ex 1em 0.5ex 0;
    max-width: max-content;
    font-size: 1.4em;
  }
  h2 {
    border-left: 8px solid var(--button-background);
    padding-left: 7px;
    padding: 5px;
    margin: 1em 1ex 0.5ex 0;
    font-size: 1.2em;
  }
  h3 {
    padding: 5px;
    margin: 1em 1ex 0.5ex 0;
    font-size: 1em;
  }

  @keyframes title-color-fade {
    from { color: inherit; }
    to { color: var(--highlight); }
  }