.post-item-date {
    margin: 0;
    color: #adadad;
}

.post-item-title {
    margin-bottom: 2px;
}

.post-item-link, .post-item-link * {
    margin-bottom: 2px;
    padding-bottom: 0;
}

.post-item-date {
    margin-top: 0;
    padding-top: 0;
}