:root {
  /* Theme variables :: */

  /* Backgrounds :: */
  --background: #1d232d;
  --button-background: #2629348c;
  --button-background-hover: #3b4252;

  /* Foreground :: */
  --foreground: #daf7ec;

  /* Hightlights :: */
  --highlight: #37a4a1;
  --highlight-lighter: #57c4c1;
  --header-link-color: #8fbcbb;

  color: var(--foreground);
  background-color: var(--background);

  font-family: sans-serif;
  padding: 10px;
}

  /* Selection highlight */
  ::selection {
    background: var(--highlight);
    color: #111;
  }
  ::-moz-selection {
    background: var(--highlight);
    color: #111;
  }

  #content {
    margin: auto;
    max-width: max-content;
  }

  #main {
    padding: 20px;
    line-height: 2;
    max-width: 900px;
  }

  a {
    color: var(--highlight);
    text-decoration: none;
  }
  a:hover {
    color: var(--highlight-lighter);
    transition: 0.4s;
  }

    /* Main part of website */
    #main a:visited {
        color: var(--highlight-lighter);
      }
      /* Text styling */
      .focus {
        border-bottom: 2px solid var(--highlight);
      }